:root {
    --font-header: 'header';
    --font-body: 'body';
    --font-bold: 'bold';
    --font-button: 'button'

  }

  @font-face {
    font-family: 'header';
    src: url('../assets/fonts/CodecPro-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'body';
    src: url('../assets/fonts/Orkney-Light.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'bold';
    src: url('../assets/fonts/Orkney-Bold.otf') format('opentype');
  }

  @font-face {
    font-family: 'button';
    src: url('../assets/fonts/Orkney-Medium.otf') format('opentype');
  }


  body {
    font-family: var(--font-body);
    font-size: 16px;
    line-height: 140%;
  }